!!! 5
%html
  %head
    %meta{charset : "utf8"}
    %link{rel : "stylesheet", href : "css/style.css"}
    %title Это новая версия слайдера, йоу!
  %body
    %div#js-frame-0.edit.frame.js-frame
      %div
        Вставьте сюда массив ссылок на слайды
      %textarea#urls.inputUrl
    %div#js-frame-1.frame.js-frame.hidden
      %script#js-preview-template{type:"x-handlebars-template"}
        {{#each this}}
          %div.preview.block
            %div.preview.image-block
              %div.preview.image-wrap
                %img.preview.image{src: "{{src}}" }
            %div.preview.comment-block
              %div.preview.comment-caption
                Надпись к слайду
              %textarea.preview.comment-input.js-comment-input{data-preview-number: "{{@index}}"}
                {{comment}}
            %div.preview.slide-delete.js-slide-delete{data-preview-number:"{{@index}}"}
              Удалить
        {{/each}}
    %div#js-frame-2.frame.js-frame.hidden
      %script#js-slider-template{type:"x-handlebars-template"}
        %div.slider.js-slider-wrapper
          %div#slides.slides.js-slider-images
            {{#each this}}
              %div
                %img{src: "{{src}}"}
                {{#if comment}}
                  %div {{comment}}
                {{/if}}
            {{/each}}
          %ul.bullets.js-slider-bullets
            {{#each this}}
              {{#if @index}}
              %li{data-slide-number:"{{@index}}"}
              {{else}}
              %li.active{data-slide-number:"{{@index}}"}
              {{/if}}
            {{/each}}
          %div.prev.js-slider-nav{data-nav-direction: "-1"}
          %div.next.js-slider-nav{data-nav-direction: "1"}
    %div.button.js-btn.js-hidden{id:"js-btn-prev", data-current-frame: "0"}
      Назад
    %div.button.js-btn{id:"js-btn-next", data-current-frame: "0"}
      Далее
    %script{src:"js/allScripts.js"}
    